<div class="footer">
  <div class="w-container">
    <div class="w-row">
      <div class="spc w-col w-col-4">
        <h5>subscribe</h5>
        <div class="w-form">
          <form id="email-form" name="email-form" data-name="Email Form" action="https://webflow.us17.list-manage.com/subscribe/post?u=94a8926e5f2482a2fea2e06af&amp;amp;id=d4f883e0f8" method="post" class="w-clearfix">
            <input type="text" class="text-field left_align w-input" maxlength="256" name="First-Name" data-name="First Name" placeholder="Full Name" id="First-Name" required=""><input type="text" class="text-field left_align w-input" maxlength="256" name="Email" data-name="Email" placeholder="Email" id="Email-3" required=""><input type="submit" value="SUBSCRIBE" data-wait="Please wait..." class="button_green w-button"></form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      <div class="spc w-col w-col-4">
        <h5>useful links</h5><a href="workshops.html" class="footer-link">Workshops</a><a href="about.html" class="footer-link">About</a><a href="contact.html" class="footer-link">Contact</a></div>
      <div class="w-col w-col-4">
        <h5>social</h5>
        <div class="footer-link-wrapper w-clearfix"><img src="<%=asset_path('social-18.svg')%>" width="20" class="info-icon"><a href="https://twitter.com/qpieducation?lang=en" target="_blank" class="footer-link with-icon">Twitter</a></div>
        <div class="footer-link-wrapper w-clearfix"><img src="<%=asset_path('social-03.svg')%>" width="20" class="info-icon"><a href="https://www.facebook.com/qpieducation/?ref=br_rs" target="_blank" class="footer-link with-icon">Facebook</a></div>
        <div class="footer-link-wrapper w-clearfix"><img src="<%=asset_path('social-10.svg')%>" width="20" class="info-icon"><a href="https://medium.com/@qpieducation" class="footer-link with-icon">Medium</a></div>
        <div class="footer-link-wrapper w-clearfix"><img src="<%=asset_path('social-06.svg')%>" width="20" class="info-icon"><a href="https://plus.google.com/105001340998402486926" class="footer-link with-icon">Google</a></div>
      </div>
    </div>
  </div>
</div>
<div class="footer center">
  <div class="w-container">
    <div class="footer-text">Contact us at info@qpieducation.com.</div>
    <div class="footer-text">© Copyright QPi Education Inc. 2018. All Rights Reserved.</div>
  </div>
</div>
