<h1>About</h1>

<h3>Who We Are</h3>
<p>QPi Education is a professional development company that enables educators to implement STEM instruction with a focus on practical and project learning relevant to today’s world. We provide a comprehensive professional development package that prepares and supports educators, even without technical expertise, to bring more engaging technical learning experiences to the classroom. Our purpose is to democratize STEM education by demystifying complex subjects using engineering and design thinking.</p>

<h3>How We Are Different</h3>
<p>We introduce new ways of teaching required STEM concepts that bring relevance to everyday life. As a team of mostly engineers who regularly volunteer in schools, we provide the technical expertise to complement the teacher’s skill set to deliver effective and engaging STEM education. </p>
<p>Our educational materials were built by understanding how both under-resourced students and teachers digest complex material and refined through many hours of trial and error. We lower the barrier for teachers without technical expertise by focusing on student-directed learning.</p>

<h3>Our Team</h3>
<ul>
  <li>Vivien</li>
  <li>Albert</li>
  <li>Stephanie</li>
</ul>
