<div class="section">
  <div class="container_80px w-container">
    <div class="section-title-group">
      <h2 class="section-heading centered">Get In Touch</h2>
      <div class="section-subheading center">Use the form below to drop us an email. We&#x27;re ready to bring hands-on and Accessible Professional development to you.</div>
    </div>
    <div class="form-wrapper w-form">
      <form method="POST" action="https://formspree.io/info@qpieducation.com" id="email-form" name="email-form" data-name="Email Form" class="form">
        <input type="text" class="form-field w-input" maxlength="256" name="Full-Name" data-name="Full Name" placeholder="Full Name" id="Full-Name-2" required="">
        <input type="email" class="form-field w-input" maxlength="256" name="Email" data-name="Email" placeholder="Email" id="Email" required="">
        <textarea id="Message" name="Message" placeholder="Message" maxlength="5000" data-name="Message" class="form-field text-area w-input"></textarea>
        <input type="submit" value="Submit" data-wait="Please wait..." class="button_blue full-width w-button">
      </form>
    </div>
    <p class="section-subheading center">If you&#x27;d like to contact us directly, feel free to email us at info@qpieducation.com</p>
  </div>
</div>
