<div data-collapse="small" data-animation="default" data-duration="400" class="navigation-bar w-nav">
  <div class="w-container">
    <nav role="navigation" class="navigation-menu w-clearfix w-nav-menu"><img src="images/Logo_CircleOnly.svg" width="46" class="brand-link"><a href="workshops.html" class="navigation-link w-nav-link">Workshops</a><a href="about.html" class="navigation-link w-nav-link">About</a><a href="contact.html" class="navigation-link w-nav-link">Contact</a><a href="sign-up.html" data-w-id="ed16c1a2-edb7-388b-00c7-903bd1f25af4" class="button_blue w-button">SIGN UP FREE</a><a href="login.html" class="button_hollow_blue w-button">Log IN</a></nav>
    <div class="hamburger-button w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
</div>
<div class="hero-section centered">
  <div data-ix="new-interaction" class="w-container">
    <h1 data-ix="fade-in-bottom-page-loads" class="hero-heading">RE-ENGINEERING <br>ABSTRACT STEM CONCEPTS INTO<br>PRACTICAL LEARNING</h1>
    <div data-ix="fade-in-bottom-page-loads" class="hero-subheading">Workshops Designed by Engineers for Educatiors</div>
  </div>
</div>
<div class="section_transparent">
  <div class="w-container">
    <div class="w-row">
      <div class="column w-col w-col-4">
        <div class="white-box first"><img src="images/feather-15-white.svg" class="grid-image">
          <h4>WORKSHOPS</h4>
          <p class="paragraph">Through our in-person workshops, educators are trained to effectively leverage technology and student-led learning in STEM.</p>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="white-box"><img src="images/feather2-22-white.svg" width="210" class="grid-image">
          <h4>TEACHER TOOLBOX</h4>
          <p class="paragraph-2">Educators can apply their learning in the classroom right away using pre-made curriculum and resources developed and curated by industry experts.</p>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="white-box"><img src="images/feather2-17-white.svg" class="grid-image">
          <h4>COMMUNITY SUPPORT</h4>
          <p class="paragraph-3">Educators get online access to like-minded peers for continuous learning, feedback, and support.<br>‍</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section_blue">
  <div class="w-container">
    <div class="section-title-group">
      <h2 class="section-heading centered white">WHAT OUR EDUCATORS ARE SAYING</h2>
      <div data-animation="slide" data-duration="500" data-infinite="1" class="testimonial-slider w-slider">
        <div class="w-slider-mask">
          <div class="testimony-slide w-slide">
            <p class="testimony-text">&quot;&quot;As a teacher who doesn&#x27;t have any background in computer science, at first I was very intimidated. Going through the training and using the curriculum guides eased my fear of doing something completely unknown to me.  After experiencing teaching QPi Education’s Raspberry Pi Robot Car, I really feel I am equipped to teach coding, building robots, and pretty much anything else that involves computer science and technology.&quot;</p>
            <div class="name">Dorcas Sims</div>
            <div class="title">7th grade Innovation Class Instructor at Partners Program</div>
          </div>
          <div class="testimony-slide w-slide">
            <p class="testimony-text">I have been looking for opportunities to add coding to my project-based classroom, which is difficult since I don’t have the background. I have tried many products, and QPi is by far the best I’ve ever used. ”</p>
            <div class="name">Dawn Wirts</div>
            <div class="title">9th grade physics teacher at High Tech High</div>
          </div>
          <div class="testimony-slide w-slide">
            <p class="testimony-text">&quot;Sometimes when I get activities from the web or from workshops it does not come with training, equipment and company support. I found the QPi Education team to be very helpful; they provided much more than I anticipated. I would work with them at any time in the future without hesitation.&quot;</p>
            <div class="name">Angela Johnson, MBA</div>
            <div class="title">Engineering Academy Lead, Pinole Valley High School, CA</div>
          </div>
          <div class="testimony-slide w-slide">
            <p class="testimony-text">&quot;[QPi] has really exposed my students to cutting-edge technology like Raspberry Pi and the most popular coding languages like Python. I’m sure that after this course, my students are going to be more prepared for the future.&quot;</p>
            <div class="name">Jose Cebrian Marquez</div>
            <div class="title">10th Grade Engineering Teacher, Richmond High, CA</div>
          </div>
          <div class="testimony-slide w-slide">
            <p class="testimony-text">&quot;The manual and course structure they built made the implementation and integration of Computer Science education to 7th and 8th graders not only easy but fun and entertaining.They team up with the teacher and consider the school problem as theirs and try to help and solve it. &quot;</p>
            <div class="name">Kumar Nemani</div>
            <div class="title">Technology and Art Teacher, Manzanita Charter Middle School, CA</div>
          </div>
        </div>
        <div class="slider-arrow w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="slider-arrow w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="slide-nav w-slider-nav w-round"></div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container w-container">
    <div class="section-heading centered">FEATURED CLIENTS</div>
    <div data-duration-in="300" data-duration-out="100" class="tabs-wrapper w-tabs">
      <div class="w-tab-menu">
        <a data-w-tab="Tab 1" class="tab-link-tab-2 w-inline-block w-tab-link">
          <div>Pinole Valley</div>
        </a>
        <a data-w-tab="Tab 2" class="tab-link-tab-2 w-inline-block w-tab-link">
          <div>Manzanita</div>
        </a>
        <a data-w-tab="Tab 3" class="tab-link-tab-2 w-inline-block w-tab-link">
          <div>Richmond</div>
        </a>
        <a data-w-tab="Tab 4" class="tab-link-tab-2 w-inline-block w-tab-link">
          <div>Oakland</div>
        </a>
        <a data-w-tab="Tab 5" class="tab-link-tab-2 w-inline-block w-tab-link w--current">
          <div>St. Thomas</div>
        </a>
      </div>
      <div class="w-tab-content">
        <div data-w-tab="Tab 1" class="w-tab-pane">
          <div class="block_impact">
            <div class="w-row">
              <div class="w-col w-col-6"><img src="images/Pinole-Valley.png" srcset="images/Pinole-Valley-p-500.png 500w, images/Pinole-Valley.png 800w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 354px, 460px" class="image_fullwidth"></div>
              <div class="w-col w-col-6">
                <h4>Pinole Valley High School Meets Raspberry Pi Robotics</h4>
                <p class="paragraph">Pinole Valley High School, a public high school in Pinole, California, piloted QPi Education’s Raspberry Pi curriculum in May 2018. QPi Education worked with the science and engineering teacher, Ms. Angela Johnson, in 10th grade science. Although the school already had Raspberry Pi, QPi Education brought new content that could expand upon the existing Raspberry Pi kit. Ms. Johnson came to QPi Education’s educator workshop at UC Berkeley to learn about Raspberry Pi and its separate use cases. After attending the workshop, she eagerly wanted to bring this to her class of 24 students.</p><a href="https://medium.com/@qpieducation/pinole-valley-high-school-meets-raspberry-pi-robotics-c51d7a1bac20" target="_blank" class="button_hollow_blue centered w-button">LEARN MORE</a></div>
            </div>
          </div>
        </div>
        <div data-w-tab="Tab 2" class="w-tab-pane">
          <div class="block_impact">
            <div class="w-row">
              <div class="w-col w-col-6"><img src="images/Manzanita.png" srcset="images/Manzanita-p-500.png 500w, images/Manzanita.png 800w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 354px, 460px" class="image_fullwidth"></div>
              <div class="w-col w-col-6">
                <h4>Non-technical Teachers Engage Oakland Public School Students in Computer Science &amp; Technology</h4>
                <p class="paragraph">The summer of 2018, QPi Education teamed up with the Partners Program, a non-profit that bolsters learning outcomes and academic achievement for underserved Oakland public middle school students, to bring technology and coding into their Innovations program. The program, free for qualifying families, hosted over 100 middle school students on the College Prep campus this summer.</p><a href="https://medium.com/@qpieducation/successful-pilot-for-stem-and-computer-science-manzanita-charter-middle-school-469da03b054a" target="_blank" class="button_hollow_blue centered w-button">LEARN MORE</a></div>
            </div>
          </div>
        </div>
        <div data-w-tab="Tab 3" class="w-tab-pane">
          <div class="block_impact">
            <div class="w-row">
              <div class="w-col w-col-6"><img src="images/Richmond.png" srcset="images/Richmond-p-500.png 500w, images/Richmond.png 600w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 354px, 460px" class="image_fullwidth"></div>
              <div class="w-col w-col-6">
                <h4>Students at Richmond High Learn How To Code By Building Robots</h4>
                <p class="paragraph">Richmond High, a public high school in northern California, has just completed a pilot of QPi Education’s Raspberry Pi Robot Car course for Spring 2018. Jose Cebrian Marquez, Richmond High’s 10th grade engineering teacher, had spearheaded a successful DonorsChoose campaign to crowdfund the Raspberry Pi projects for last year’s class. This year, he has been able to utilize the same materials with an improved curriculum. He ran the course for approximately 60 students in total, and plans to pilot a Spanish version of the course for his English Language Development (ELD) students.</p><a href="https://medium.com/@qpieducation/richmond-highs-spring-pilot-success-fb9404681fbd" target="_blank" class="button_hollow_blue centered w-button">LEARN MORE</a></div>
            </div>
          </div>
        </div>
        <div data-w-tab="Tab 4" class="w-tab-pane">
          <div class="block_impact">
            <div class="w-row">
              <div class="w-col w-col-6"><img src="images/St.-Thomas.png" srcset="images/St.-Thomas-p-500.png 500w, images/St.-Thomas.png 800w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 354px, 460px" class="image_fullwidth"></div>
              <div class="w-col w-col-6">
                <h4>Non-technical Teachers Engage Oakland Public School Students in Computer Science &amp; Technology</h4>
                <p class="paragraph">The summer of 2018, QPi Education teamed up with the Partners Program, a non-profit that bolsters learning outcomes and academic achievement for underserved Oakland public middle school students, to bring technology and coding into their Innovations program. The program, free for qualifying families, hosted over 100 middle school students on the College Prep campus this summer.</p><a href="https://medium.com/@qpieducation/non-technical-teachers-engage-oakland-public-school-students-in-computer-science-technology-9cb9a930bae9" target="_blank" class="button_hollow_blue centered w-button">LEARN MORE</a></div>
            </div>
          </div>
        </div>
        <div data-w-tab="Tab 5" class="w-tab-pane w--tab-active">
          <div class="block_impact">
            <div class="w-row">
              <div class="w-col w-col-6"><img src="images/Richmond.png" srcset="images/Richmond-p-500.png 500w, images/Richmond.png 600w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 354px, 460px" class="image_fullwidth"></div>
              <div class="w-col w-col-6">
                <h4>Summer School at St. Thomas Apostle School with Robotics</h4>
                <p class="paragraph">The learning doesn’t stop in the summer at St. Thomas Apostle School, an elementary school in San Francisco, where elementary school students are working across multiple classrooms over a variety of disciplines. This valuable time is spent to enrich students before they come back to the school year in August. Even the school’s student alumni return to volunteer and support the continued education of these attending students. The wonderful robotics facilitators, Gerry Maddalozzo and Helen Gee, brought a robotics class to the students this summer. Their goal was to excite all the children to be curious and inventive towards electronics and technology.</p><a href="https://medium.com/@qpieducation/summer-school-at-st-thomas-apostle-school-with-robotics-8c0492c0caee" target="_blank" class="button_hollow_blue centered w-button">LEARN MORE</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section_blue">
  <div class="w-container">
    <div class="section-title-group">
      <h2 class="section-heading centered white">Proud to be part of:</h2>
    </div>
    <div class="w-row">
      <div class="w-col w-col-6"><a href="http://launch.berkeley.edu/" target="_blank" class="w-inline-block"><img src="images/launchlogo.jpg" srcset="images/launchlogo-p-500.jpeg 500w, images/launchlogo-p-800.jpeg 800w, images/launchlogo.jpg 823w" sizes="(max-width: 767px) 92vw, (max-width: 991px) 354px, 460px" class="image_accelerator"></a></div>
      <div class="w-col w-col-6"><a href="https://aws.amazon.com/education/ed-tech/credit-program/" target="_blank" class="w-inline-block"><img src="images/AWSedstartLogo.png" width="674" srcset="images/AWSedstartLogo-p-500.png 500w, images/AWSedstartLogo-p-800.png 800w, images/AWSedstartLogo-p-1080.png 1080w, images/AWSedstartLogo-p-1600.png 1600w, images/AWSedstartLogo.png 1642w" sizes="(max-width: 767px) 92vw, (max-width: 991px) 354px, 460px" class="image_accelerator"></a></div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="w-container">
    <div class="w-row">
      <div class="spc w-col w-col-4">
        <h5>subscribe</h5>
        <div class="w-form">
          <form id="email-form" name="email-form" data-name="Email Form" action="https://webflow.us17.list-manage.com/subscribe/post?u=94a8926e5f2482a2fea2e06af&amp;amp;id=ca2fd81fb0" method="post" class="w-clearfix"><input type="text" class="text-field left_align w-input" maxlength="256" name="Full-Name" data-name="Full Name" placeholder="Full Name" id="Full-Name" required=""><input type="text" class="text-field left_align w-input" maxlength="256" name="Email" data-name="Email" placeholder="Email" id="Email-3" required=""><input type="submit" value="SUBSCRIBE" data-wait="Please wait..." class="button_green w-button"></form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      <div class="spc w-col w-col-4">
        <h5>useful links</h5><a href="workshops.html" class="footer-link">Workshops</a><a href="about.html" class="footer-link">About</a><a href="contact.html" class="footer-link">Contact</a></div>
      <div class="w-col w-col-4">
        <h5>social</h5>
        <div class="footer-link-wrapper w-clearfix"><img src="images/social-18.svg" width="20" class="info-icon"><a href="https://twitter.com/qpieducation?lang=en" target="_blank" class="footer-link with-icon">Twitter</a></div>
        <div class="footer-link-wrapper w-clearfix"><img src="images/social-03.svg" width="20" class="info-icon"><a href="https://www.facebook.com/qpieducation/?ref=br_rs" target="_blank" class="footer-link with-icon">Facebook</a></div>
        <div class="footer-link-wrapper w-clearfix"><img src="images/social-10.svg" width="20" class="info-icon"><a href="https://medium.com/@qpieducation" class="footer-link with-icon">Medium</a></div>
        <div class="footer-link-wrapper w-clearfix"><img src="images/social-06.svg" width="20" class="info-icon"><a href="https://plus.google.com/105001340998402486926" class="footer-link with-icon">Google</a></div>
      </div>
    </div>
  </div>
</div>
<div class="footer center">
  <div class="w-container">
    <div class="footer-text">Contact us at info@qpieducation.com.</div>
    <div class="footer-text">© Copyright QPi Education Inc. 2018. All Rights Reserved.</div>
  </div>
</div>
