<body>
  <div data-collapse="medium" data-animation="default" data-duration="400" data-no-scroll="1" class="left-navigation w-nav">
    <nav role="navigation" class="nav-menu-2 w-nav-menu"><a href="/my-communities" class="nav-link w-nav-link">MY <br>Communities</a><a href="/explore-communities" class="nav-link w-nav-link">EXPLORE <br>COMMUNITIES</a><a href="/profile" class="nav-link w-nav-link w--current"> PROFILE</a><a href="/" class="nav-link w-nav-link">LOG OUT</a></nav>
    <div class="hamburger-button-2 w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
    <div class="social-footer w-hidden-medium w-hidden-small w-hidden-tiny"><a href="#" class="social-icon-link w-inline-block"></a><a href="#" class="social-icon-link w-inline-block"></a><a href="#" class="social-icon-link w-inline-block"></a><a href="#" class="social-icon-link w-inline-block"></a><a href="#" class="social-icon-link w-inline-block"></a><a href="#" class="social-icon-link w-inline-block"></a><a href="#" class="social-icon-link w-inline-block"></a></div><a href="/workshops-loggedin" class="button_leftnav w-button">Attend a Workshop</a></div>
  <div class="content-wrapper">
    <h1 class="name_heading">Jennifer Little</h1>
    <div>
      <div class="block_top50px">
        <div class="w-row">
          <div class="w-col w-col-4"><img src="images/Profile-Default.svg" width="184" class="image_member">
            <div class="block_socialmedia"><a href="#" class="social-icon-link-2 w-inline-block"><img src="images/social-02.svg" width="25"></a><a href="#" class="social-icon-link-2 w-inline-block"><img src="images/social-11.svg" width="25"></a><a href="#" class="social-icon-link-2 w-inline-block"><img src="https://uploads-ssl.webflow.com/5b62493c7742377be1c5a5e1/5b62493d7742372f43c5a631_social-18.svg" width="25"></a><a href="#" class="social-icon-link-2 w-inline-block"><img src="images/social-06.svg" width="25"></a><a href="#" class="social-icon-link-2 w-inline-block"><img src="https://uploads-ssl.webflow.com/5b62493c7742377be1c5a5e1/5b62493d7742379ca2c5a616_social-30.svg" width="25"></a></div>
          </div>
          <div class="w-col w-col-8">
            <div class="profile_block">
              <div class="basic-info w-row">
                <div class="w-col w-col-5">
                  <h3 class="profile_heading">Location</h3>
                </div>
                <div class="w-col w-col-7">
                  <div class="profile_text">Denver, CO</div>
                </div>
              </div>
              <div class="basic-info w-row">
                <div class="w-col w-col-5">
                  <h3 class="profile_heading">OCcupation</h3>
                </div>
                <div class="w-col w-col-7">
                  <div class="profile_text">Math Teacher</div>
                </div>
              </div>
              <div class="basic-info w-row">
                <div class="w-col w-col-5">
                  <h3 class="profile_heading">Grade</h3>
                </div>
                <div class="w-col w-col-7">
                  <div class="profile_text">10th Grade</div>
                </div>
              </div>
              <div class="basic-info w-row">
                <div class="w-col w-col-5">
                  <h3 class="profile_heading">SCHOOL</h3>
                </div>
                <div class="w-col w-col-7">
                  <div class="profile_text">ABC High School</div>
                </div>
              </div>
            </div>
            <div><a href="/edit-profile" class="button_hollow_blue centered w-button">Edit Profile</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
