<div class="container_white_shadow w-container">
  <h2 class="section-heading centered">Forgot Password?</h2>
  <div class="text_password">ENTER THE EMAIL ADDRESS THAT YOU USED TO REGISTER. WE&#x27;LL SEND YOU AN <strong>EMAIL WITH A LINK</strong> TO RESET YOUR PASSWORD.</div>
  <div class="w-form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.email_field :email, required: true, class: "text-field w-input", maxlength: 256, placeholder: 'Enter your email', required: true %>
    <%= f.submit "Submit", class: "button_hollow_blue centered w-button" %>
    <% end %>
  </div>
</div>
