<div class="block_whtbg_shadow">
  <h2 class="content-heading">Assessments</h2>
  <% assessments.each_slice(3) do |trio| %>
    <div class="row_lesson w-row">
      <% trio.each do |assessment| %>
        <div class="w-col w-col-4">
          <div class="block_lesson">
            <a href="<%= assessment.link %>" target="_blank" class="link-block_lesson w-inline-block">
              <h4 class="heading_lesson"><%= assessment.title %></h4>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
