<div id="discussions" class="hidden-section">
  <div class="block_top50px">
    <div class="w-form">
      <form id="email-form" name="email-form" data-name="Email Form">
        <div class="row_discussion w-row">
          <div class="w-col w-col-1"><img src="images/Profile-Default.svg" class="image_member"></div>
          <div class="w-col w-col-11"><input type="text" class="text_field_discussion w-input" maxlength="256" name="Discussion" data-name="Discussion" placeholder="Start a discussion..." id="Discussion"></div>
        </div>
        <div class="div-block-5">
          <div class="row_discussion w-row">
            <div class="w-col w-col-1"><img src="images/Profile-Default.svg" class="image_member">
              <div class="name_text">Alice Boyd</div>
            </div>
            <div class="w-clearfix w-col w-col-11">
              <div class="text_date_discussion">April 8</div>
              <div class="text_discussion">How fast can the car go?</div><a href="discussion2-intro-to-raspberry-pi.html" class="link left_align">2 comments</a></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
