<h2 class="content-heading">Members</h2>

<% members.each_slice(3) do |trio| %>
  <div class="w-row" style="margin-bottom: 20px">
    <% trio.each do |member| %>
      <div class="w-col w-col-4" style="margin-bottom: 20px">
        <%= link_to user_path(member) do %>
          <img src="<%=aws_directory('Profile-Default.svg')%>" width="150" class="image_member" >
        <% end %>
          <h3 class="text_name_member"><%= member.name %></h3>
      </div>
    <% end %>
  </div>
<% end %>
