<% if communities.empty? %>
  <div class="div-block-3">
    <div class="div-block-4">
      <h2 class="heading-5">You&#x27;re not part of any communities. Explore our communities and join in on the fun!</h2>
    </div>
  </div>
<% else %>
  <div class="community_wrapper">
    <div class="row_community w-row">
      <div class="w-col w-col-6">
        <a href="/about-intro-raspberry-pi" class="link-block w-inline-block">
          <img src="images/KidandCar.png" srcset="images/KidandCar-p-500.png 500w, images/KidandCar-p-800.png 800w, images/KidandCar-p-1080.png 1080w, images/KidandCar.png 1088w" sizes="100vw" class="image_community">
          <h3 class="community-header">Introduction to Teaching Using Raspberry Pi</h3>
        </a>
      </div>
      <div class="w-col w-col-6"></div>
    </div>
  </div>
<% end %>
