<div class="block_whtbg_shadow">
  <h2 class="content-heading">References</h2>
  <% references.each do |reference| %>
    <div style="padding-bottom: 10px">
      <a href="<%=reference.link%>" target="_blank" class="link_signup" style="color: #69b9ff;"><%= reference.title %></a>
    </div>
  <% end %>

</div>
