<div id="resources" class="hidden-section">
  <%= render 'lesson_content', lessons: community.lessons %>

  <%= render 'assessments', assessments: community.assessments %>

  <%= render 'references', references: community.references %>
</div>
