<div id="resources" class="hidden-section">
  <div class="block_whtbg_shadow">
  <h2 class="content-heading">Lesson Content</h2>
  <div class="text_discussion">Lesson and Exercise links are currently only available to premium members, if you&#x27;d like access, please contact us at info@qpieducation.com.</div>
  <div class="container_module w-container">
    <h3 class="heading_module">Module 1: Intro to Hardware</h3>
    <a href="https://drive.google.com/open?id=1yP9pa6ZWj5E1cXr3c5kK8VBso_nTnmc_Mxq3QAbBY1g" target="_blank" class="link-block_lesson w-inline-block">
      <h3 class="heading_lesson">Lesson 1.1: Introduce Course &amp; Kit Materials</h3>
    </a>
    <h4 class="heading_goals">Learning goals: Understand course structure, familiarize with materials, &amp; organize class.</h4>
    <a href="https://drive.google.com/open?id=1Rhdc36tyeSd2MZeltIYI0XtjanVc_pvEWXeTBkxJEzo" target="_blank" class="link-block_lesson w-inline-block">
      <h3 class="heading_lesson">Lesson 1.2: Simple Circuits</h3>
    </a>
    <h4 class="heading_goals">Learning goals: Understand the concept of voltage, resistance, and current.</h4>
    <a href="https://drive.google.com/open?id=1pneUUOcpmvLW-2bCEqFI76E4YPpCfcbD7boBhoo4mCA" target="_blank" class="link-block_exercise w-inline-block">
      <h3 class="heading_exercise">Exercise 1.2</h3>
    </a>
    <h4 class="heading_goals">Activity goals:  Demonstrate knowledge of building circuits</h4>
    <div class="block_lessons"></div>
  </div>
  <div class="container_module w-container">
    <h3 class="heading_module">Module 2: IntrO to Raspberry Pi &amp; Python<br></h3>
    <a href="https://drive.google.com/open?id=1Loeo4aLkwyuyPb7K1wH5gOfUETfFIGpvZe40Ia4AcJs" target="_blank" class="link-block_lesson w-inline-block">
      <h3 class="heading_lesson">Lesson 2.1: Raspberry Pi</h3>
    </a>
    <h4 class="heading_goals">Learning goals: How to access the Raspberry Pi, learn coding on the Raspberry Pi and simple Python syntax</h4>
    <a href="https://drive.google.com/open?id=1j4IWcX3HCp1c0Kh_nJ9kqJA8hEcgHCqsbvK_rHNRlA0" target="_blank" class="link-block_lesson w-inline-block">
      <h3 class="heading_lesson">Lesson 2.2: GPIO Pins</h3>
    </a>
    <h4 class="heading_goals">Learning goals: Understand different functionalities of the pins, and learn how to control outputs of GPIO Pins</h4>
    <a href="https://drive.google.com/open?id=1RyLdd6USZJFvFQO8rjUw8lylrtQAqy8F-UVK1d2Lr20" target="_blank" class="link-block_exercise w-inline-block">
      <h3 class="heading_exercise">Exercise 2.2</h3>
    </a>
    <h4 class="heading_goals">Activity goals: Practice coding GPIO pins with breadboard circuit<br></h4>
    <div class="block_lessons"></div>
  </div>
  <div class="container_module w-container">
    <h3 class="heading_module">Module 3: Python Coding Fundamentals<br></h3>
    <a href="https://drive.google.com/open?id=18T9kefBcmtVTY7C47jXr5gQ9kdJ9enqvml9U0M-scL8" target="_blank" class="link-block_lesson w-inline-block">
      <h3 class="heading_lesson">Lesson 3.1: LooPS</h3>
    </a>
    <h4 class="heading_goals">Learning goals: Understand syntax for the for loop and while loop</h4>
    <a href="https://drive.google.com/open?id=1mY25IPlvU0F2pWTkcrvRIpIWh37ZWfhhp_JkqrZP5nk" target="_blank" class="link-block_exercise w-inline-block">
      <h3 class="heading_exercise">Exercise 3.1</h3>
    </a>
    <h4 class="heading_goals">Activity goals: Practice applying loops with breadboard circuit<br></h4>
    <a href="https://drive.google.com/open?id=1HFVqJW5Ukn3RI_jIHKorV0qYvU74m1K68a6PlkfOq80" target="_blank" class="link-block_lesson w-inline-block">
      <h3 class="heading_lesson">Lesson 3.2: Functions</h3>
    </a>
    <h4 class="heading_goals">Learning goals: Simplify and organize code using functions</h4>
    <a href="https://drive.google.com/open?id=1nzOXnWBIznKHTWrYt9dGqKGwUPtN7v9nONvRnS_UKzU" target="_blank" class="link-block_exercise w-inline-block">
      <h3 class="heading_exercise">Exercise 3.2</h3>
    </a>
    <h4 class="heading_goals">Activity goals: Applying functions<br></h4>
    <div class="block_lessons"></div>
  </div>
  <div class="container_module w-container">
    <h3 class="heading_module">Module 4: Robot Car<br></h3>
    <a href="https://drive.google.com/open?id=1BJ-jTuF6IFKYiLf2l-3GcFijsqaIYoH6dKrxFb3Bm3U" target="_blank" class="link-block_lesson w-inline-block">
      <h3 class="heading_lesson">Lesson 4.1:<strong> </strong>Intro to Robotics</h3>
    </a>
    <h4 class="heading_goals">Learning goals: Understand holistically how the robot car will operate, understand electric polarity and how to use the H-Bridge</h4>
    <a href="https://drive.google.com/open?id=1GGJvRT8IZf7_B1QBNvDDDjGFr3O0-iBu8323w6qmohk" target="_blank" class="link-block_exercise w-inline-block">
      <h3 class="heading_exercise">Exercise 4.1</h3>
    </a>
    <h4 class="heading_goals">Activity goals: Build intuitive understanding of how DC motors and H-bridges work<br></h4>
    <a href="https://drive.google.com/open?id=15tPziicYJlKzgsfCHaHa9BALHqfjYcjyESvjKdyZfSE" target="_blank" class="link-block_lesson w-inline-block">
      <h3 class="heading_lesson">Lesson 4.2: Build the Robot Car</h3>
    </a>
    <h4 class="heading_goals">Learning goals: Understand each mechanical component’s interaction with Raspberry Pi as students build the robot</h4>
    <a href="https://drive.google.com/open?id=1HBNtmGPHbgDhUR9AEfuEZCRDf7wtD1F5HorEiObCo-o" target="_blank" class="link-block_lesson w-inline-block">
      <h3 class="heading_lesson">Lesson 4.3: Program the Robot Car</h3>
    </a>
    <h4 class="heading_goals">Learning goals: Using code to remote-control a robot</h4>
    <a href="https://drive.google.com/open?id=1rwhUIaneGVd2W5JyAFEL16c9kBeWMAB7Kpf7rjiRaVk" target="_blank" class="link-block_exercise w-inline-block">
      <h3 class="heading_exercise">Exercise 4.3</h3>
    </a>
    <h4 class="heading_goals">Activity goals: Apply Python coding principles to drive the robot car<br></h4>
    <div class="block_lessons"></div>
  </div>
</div>
<div class="block_whtbg_shadow">
  <h2 class="content-heading">References</h2>
  <div class="w-clearfix"><a href="#" class="link left_align">Text Link</a></div>
</div>
</div>
</div>
