  <div class="content-wrapper">
    <h1 class="main_heading_whitebg">MY COMMUNITIES</h1>
    <%= render 'my_communities_if_any', communities: @communities %>
    <div class="block_top50px">
      <a href="/explore-communities" class="button_green full_width w-button">EXPLORE COMMUNITIES</a>
    </div>
  </div>
